@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,700&display=swap");

body{
    background-color: #aba4a445;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  display: flex;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#logo {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Epilogue", sans-serif;
}

.log a {
  margin-left: 61rem;
}

.content {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-left: 22px;
}

.content h1 {
  margin-top: 26%;
  margin-bottom: 10px;
  padding-left: 12%;
  font-size: 100px;
}

.content a{
    text-decoration: none;
    border: 2px solid black;
    width: 98px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 21px;
    color: black;
    font-family: 'Courier New', Courier, monospace;

    background-color: black;
    color: white;
    
}

.content span{
    padding-right: 52%;
    margin-left: 105px;
}
#desk-img {
  /* height: 100px;
      width: 100px; */

  float: right;
    width: 37rem;
    height: 40rem;   
}
/*   
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
